.saleCard{
    background: rgba(255, 255, 255, 0.142);
width: 250px;
height:420px;
border-radius: 30px;
margin: 15px;

-webkit-box-shadow:0px 0px 37px 4px rgba(156,156,156,0.44);
-moz-box-shadow: 0px 0px 37px 4px rgba(156,156,156,0.44);
box-shadow: 0px 0px 37px 4px rgba(156,156,156,0.44);

}

.info{
    padding: 20px;
    margin: 0;
}
.info h3{
    text-transform: uppercase;
    font-size: 16px;
}

.priceCard div:first-child{
font-weight: 700;
font-size: 24px;
color: #3b3b3b;
padding: 5px;
/* background: #ffffff; */
display: flex;
align-items: center;
margin-bottom: 10px;

}

.saleCard img{
    width: 200px;
    height: 240px;
}